.row-photos-half {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    h2 {
        text-transform:none;
        letter-spacing:0;
        font-size:29px;
        padding-bottom:10px;
        margin-bottom:0;
    }
    p, h2 {
        color:#07071D;
    }
    a {
        &:focus {
            text-decoration:none;
        }
    }
    .photo-block {
        flex:1;
        .block-inner {
            display:flex;
            flex-direction:column;
            flex-wrap:nowrap;
            min-height:850px;
            padding-bottom:10px;
            background-position:bottom center;
            background-size:cover;
            background-repeat:no-repeat;
            @media screen and (min-width: 1280px) {
                min-height:950px;
            }
            @media screen and (min-width: 1450px) {
                min-height:1080px;
            }
            .block-top, .block-bottom {
                flex:1;
            }
            .block-top {
                padding:50px 50px 0px 50px;
                max-width:600px;
                @media (max-width:767px) {
                    padding:30px 30px 0px 30px;
                }
            }
            .block-bottom {
                background-position:center center;
                background-size:cover;
                background-repeat:no-repeat;
            }
        }
    }
}

.lmnt-btn {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    height:52px;
    padding:0px 40px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:16px;
    position:relative;
    border-radius:6px;
    &:before {
        content:'›';
        position:absolute;
        right:15px;
        top:50%;
        transform:translateY(-50%);
    }

    &.lmnt-btn-line-purple {
        color:#6f50d9;
        border:1px solid #6f50d9;
    }
}

.row-photos-thirds {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    h2 {
        text-transform:none;
        letter-spacing:0;
        font-size:29px;
        padding-bottom:10px;
        margin-bottom:0;
    }
    p, h2 {
        color:#07071D;
    }
    a {
        &:focus {
            text-decoration:none;
        }
    }
    .photo-block {
        flex:1;
        @media (max-width:676px) {
            width:100%;
            flex:auto;
        }
        .block-inner {
            display:flex;
            flex-direction:column;
            flex-wrap:nowrap;
            min-height:500px;
            background-position:bottom center;
            background-size:contain;
            background-repeat:no-repeat;
            @media (max-width:600px) {
                min-height:400px;
            }
            .block-top, .block-bottom {
                flex:1;
            }
            .block-top {
                padding:50px 50px 0px 50px;
                max-width:475px;
                @media (max-width:767px) {
                    padding:50px 30px 0px 30px;
                }
            }
            .block-bottom {
                background-position:center center;
                background-size:cover;
                background-repeat:no-repeat;
            }
        }
    }
}

.lmnt-btn {
    display:inline-flex;
    justify-content:center;
    align-items:center;
    height:52px;
    padding:0px 40px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:16px;
    position:relative;
    border-radius:6px;
    &:before {
        content:'›';
        position:absolute;
        right:15px;
        top:50%;
        transform:translateY(-50%);
    }

    &.lmnt-btn-line-purple {
        color:#6f50d9;
        border:1px solid #6f50d9;
    }
}